@import "@fluentui/react/dist/sass/References";

.app {
  min-height: calc(100vh - 24px);
  padding-bottom: 24px;

  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardContainer {
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 10px;

  // recharts toolbars may transiently overflow the content area during
  // animation.
  overflow: hidden;
}

@include ms-screen-sm-down() {
  .cardContainer {
    padding: 20px 0;
    grid-template-columns: 1fr;
  }
}

@include ms-screen-md-up() {
  .cardContainer {
    padding: 20px 10px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@include ms-screen-xl-up() {
  .cardContainer {
    padding: 20px 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include ms-screen-xxl-up() {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include ms-screen-xxxl-up() {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
