@import "./App.module.scss";
@import "@fluentui/react/dist/sass/References";

@mixin nav-width {
  min-width: 320px;
  width: 100%;
}

@mixin navbar-items {
  padding: 0 24px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
}

@mixin brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px
}

.nav {
  @include nav-width;
  height: 58px;
  position: sticky;
  top: 0;
  z-index: 1;

  justify-content: center;
  transition: linear 100ms;
  transition-property: box-shadow;
}

.scrolledAwayNav {
  @include ms-depth-8;
}

.navContent {
  @include navbar-items;
  @include frame-constrained;
  align-items: center;

  flex-grow: 1;
  height: 100%;
}

$navItemHeight: 44px;

.reactLogo {
  height: calc($navItemHeight / 1.5) !important;
  width: calc($navItemHeight / 1.5) !important;
  margin-right: 8px;
}

.buttonRegion {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.brightnessIconButton {
  height: $navItemHeight;
  margin-right: 10px;
}

.gitHubIconButton {
  height: $navItemHeight;
}

.gitHubTextButton {
  height: $navItemHeight;
}

.brightnessIcon {
  height: $ms-icon-size-l !important;
  width: $ms-icon-size-l !important;
}

.gitHubLogo {
  height: $ms-icon-size-l !important;
  width: $ms-icon-size-l !important;
}

@include ms-screen-lg-down() {
  .gitHubTextButton {
    display: none;
  }
}

@include ms-screen-xl-up() {
  .gitHubIconButton {
    display: none;
  }
}

@include ms-screen-md-down() {
  .mobileHeader {
    @include nav-width;
    height: 40px;

    display: flex;
    justify-items: flex-end;
  }

  .mobileHeaderContent {
    @include navbar-items;
    align-items: flex-end;
  }

  .mobileBrand {
    @include brand;
  }

  .brand {
    display: none;
  }
}

@include ms-screen-lg-up() {
  .mobileHeader {
    display: none;
  }

  .brand {
    @include brand;
  }
}
