@import "@fluentui/react/dist/sass/References";

@include ms-motion-keyframes;

.cardFrame {
  width: 100%;
  min-width: 400px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  position: relative;

  flex-grow: 1;
  flex-basis: 500px;

  @include ms-depth-4;
}

.cardFrame:hover,
.cardFrame:focus-within {
  z-index: 1;
}

.disabledCardFrame {
  opacity: 0.6;
}

.fullScreenCardFrame {
  max-width: unset;
  position: fixed;
  inset: 0;
  z-index: 10000;
}

.fullScreenCardFrame:hover,
.fullScreenCardFrame:focus-within {
  z-index: 10000;
}

.silhouette {
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 40px;
}

.shimmerRoot {
  height: 210px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.contentWrapper {
  height: 100%;
}

.disabledContentWrapper {
}

.cardContent {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin header-clearance-area {
  flex-grow: 1;
  flex-basis: 100px;
}

@include ms-screen-sm-down() {
  .cardFrame {
    min-height: 420px;
  }

  .cardContent {
    padding: 10px 0;
  }

  .headerLeft {
    display: none;
  }

  .header {
    padding: 5px 20px;
  }

  .headerText {
    text-align: start;
  }
}

@include ms-screen-md-up() {
  .cardFrame {
    min-height: 390px;
  }

  .cardContent {
    padding: 16px 0;
  }

  .headerLeft {
    @include header-clearance-area();
  }

  .header {
    padding: 5px 20px;
  }

  .headerText {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.headerText {
  flex-grow: 3;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.packageName {
  @include ms-fontWeight-semibold;
}

.headerControls {
  @include header-clearance-area();
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.chartContainer {
  max-height: 100%;
  overflow: hidden;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  font-family: $ms-font-family-fallbacks;
  font-size: 10pt;
}

.invisibleChart {
  opacity: 0;
}

.visibleChart {
  @include ms-motion-fadeIn;
  height: 100%;
}
