@import "@fluentui/react/dist/sass/References";

.versionsListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.versionsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: left;
}

.versionsListItem {
  height: 1.5em;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }
}

.versionColorIndicator {
  display: inline-block;
  border-radius: 100%;
  margin-right: 4px;
  vertical-align: middle;
}

.versionLabel {
  @include ms-fontWeight-regular;
}

@include ms-screen-sm-down() {
  .versionColorIndicator {
    width: 10px;
    height: 10px;
  }

  .versionsList {
    gap: 0 16px;
    padding: 10px 20px;
    margin: 5px 10px 0 10px;
  }
}

@include ms-screen-md-up() {
  .versionColorIndicator {
    width: 6px;
    height: 6px;
  }

  .versionsList {
    gap: 0 8px;
    padding: 5px 0px 0px 0px;
    margin: 5px 10px 0 10px;
  }

  .versionLabel {
    font-size: 10px;
  }
}
