@import "@fluentui/react/dist/sass/References";

.frame {
  @include ms-depth-16;

  padding: 6px 10px;
}

.date {
  @include ms-fontWeight-semibold;
  display: block;
  text-align: center;
  padding-bottom: 4px;
}

.versionsList {
  padding: 0;
  margin: 0;
  min-width: 128px;
}

.versionsListItem {
  height: 1.75em;
  padding: 0;
  display: flex;
  align-items: center;
}

.versionLabel {
  @include ms-fontWeight-semibold;
  padding-right: 10px;
}

.versionCount {
  flex-grow: 1;
  text-align: end;
}