@import "@fluentui/react/dist/sass/References";

.versionsListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.versionsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: left;
  gap: 0 20px;

  margin: 5px 20px 0 20px;
  padding: 10px 20px;
}

.versionsListItem {
  height: 1.5em;
  padding: 0;
  display: flex;
  align-items: center;
}

.versionColorIndicator {
  display: inline-block;
  width: 4px;
  height: 1em;
  margin-right: 4px;
  vertical-align: middle;
}

.versionLabel {
  @include ms-fontWeight-semibold;
}