@import "@fluentui/react/dist/sass/References";

.app {
  background-color: $ms-color-gray20;
  min-height: calc(100vh - 24px);
  padding-bottom: 24px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin frame-constrained {
  max-width: 1320px;
  margin: 0 auto;
}

.cardContainer {
  @include frame-constrained();

  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  // recharts toolbars may transiently overflow the content area during
  // animation.
  overflow: hidden;
}

@include ms-screen-md-down() {
  .cardContainer {
    padding: 10px 0;
    gap: 10px;
  }
}

@include ms-screen-lg-up() {
  .cardContainer {
    padding: 20px;
    gap: 20px;
  }
}
