@import "bootstrap";

.app {
  background-color: $gray-100;
  min-height: 100vh;
}

.navbarBrand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.navbarContainer {
  gap: 10px;
}

.noGrow {
  flex-grow: 0 !important;
}

.navbarLogo {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  display: inline-block;
}

.leftNav {
  flex-grow: 1;
}

.visitGithub {
  padding-right: 20px;
  vertical-align: middle;
  align-content: center;
}

.githubLogo {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  filter: \invert(100%);
  display: inline-block;
  align-content: center;
}

.cardContainer {
  padding-top: 96px;
  padding-bottom: 48px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  // recharts toolbars may transiently overflow the content area during
  // animation.
  overflow: hidden;
}
