@import "./App.module.scss";
@import "@fluentui/react/dist/sass/References";

$desktop-height: 58px;
$mobile-height: 58px;

@mixin mobile-nav-dimensions {
  width: 100%;
  height: $mobile-height;
}

@mixin desktop-nav-dimensions {
  width: 100%;
  height: $desktop-height;
}

.nav {
  position: fixed;
  min-width: 320px;
  z-index: 2;
  @include ms-depth-8();

  justify-content: center;
}

.navSpacer {
  position: relative;
  z-index: 1;
}

.navContent {
  @include frame-constrained;
  height: 100%;
  padding: 0 24px;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

$navItemHeight: 44px;

.reactLogo {
  height: $navItemHeight / 1.5 !important;
  width: $navItemHeight / 1.5 !important;
  margin-right: 8px;
}

.gitHubLink {
  height: $navItemHeight;
}

.gitHubIconStroke {
  fill: white;
}

.gitHubIconButton {
  height: $navItemHeight;
}

.gitHubTextButton {
  height: $navItemHeight;
}

.gitHubLogo {
  height: $ms-icon-size-l !important;
  width: $ms-icon-size-l !important;
}

@include ms-screen-md-down() {
  .nav {
    @include mobile-nav-dimensions();
  }

  .navSpacer {
    @include mobile-nav-dimensions();
  }

  .brand {
    display: none;
  }

  .gitHubTextButton {
    display: none;
  }
}

@include ms-screen-lg-up() {
  .nav {
    @include desktop-nav-dimensions();
  }

  .navSpacer {
    @include desktop-nav-dimensions();
  }

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pivot {
    margin-left: 24px;
    flex-grow: 1;
  }

  .gitHubIconButton {
    display: none;
  }
}
