@import "./App.module.scss";
@import "@fluentui/react/dist/sass/References";

@mixin nav-width {
  min-width: 320px;
  width: 100%;
}

@mixin navbar-items {
  padding: 0 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin brand {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.nav {
  @include nav-width;
  height: 58px;
  position: sticky;
  top: 0;
  z-index: 1;
  @include ms-depth-8;

  justify-content: center;
}

.navSpacer {
  position: relative;
}

.navContent {
  @include navbar-items;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

$navItemHeight: 44px;

.reactLogo {
  height: $navItemHeight / 1.5 !important;
  width: $navItemHeight / 1.5 !important;
  margin-right: 8px;
}

.gitHubLink {
  height: $navItemHeight;
}

.gitHubIconStroke {
  fill: white;
}

.gitHubIconButton {
  height: $navItemHeight;
}

.gitHubTextButton {
  height: $navItemHeight;
}

.gitHubLogo {
  height: $ms-icon-size-l !important;
  width: $ms-icon-size-l !important;
}

@include ms-screen-md-down() {
  .mobileHeader {
    @include nav-width;
    height: 40px;

    display: flex;
    justify-items: flex-end;
  }

  .mobileHeaderContent {
    @include navbar-items;
    align-items: flex-end;
  }

  .mobileBrand {
    @include brand;
  }

  .brand {
    display: none;
  }

  .gitHubTextButton {
    display: none;
  }
}

@include ms-screen-lg-up() {
  .mobileHeader {
    display: none;
  }

  .brand {
    @include brand;
  }

  .pivot {
    margin-left: 24px;
    flex-grow: 1;
  }

  .gitHubIconButton {
    display: none;
  }
}
