@import "./App.module.scss";
@import "@fluentui/react/dist/sass/References";

$desktop-height: 50px;
$mobile-height: 100px;

@mixin mobile-nav-dimensions {
  width: 100%;
  height: $mobile-height;
}

@mixin desktop-nav-dimensions {
  width: 100%;
  height: $desktop-height;
}

.nav {
  background-color: white;
  position: fixed;
  z-index: 2;
  @include ms-depth-8();
}

@include ms-screen-sm-down() {
  .nav {
    @include mobile-nav-dimensions();
  }

  .navSpacer {
    @include mobile-nav-dimensions();
  }

  .gitHubLink {
    flex-grow: 1;
    text-align: right;
  }

  .pivot {
    order: 1;
    min-width: 100vw;
    text-align: center
  }
}

@include ms-screen-md-up() {
  .nav {
    @include desktop-nav-dimensions();
  }

  .navSpacer {
    @include desktop-nav-dimensions();
  }

  .pivot {
    margin-left: 24px;
    flex-grow: 1;
  }
}

.navSpacer {
  position: relative;
  z-index: 1;
}

.navContent {
  @include frame-constrained();
  height: 100%;
  padding: 0 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@include ms-screen-md-down() {
  .gitHubTextButton {
    display: none;
  }

  .gitHubIconButton {
    height: 100%;
  }
}

@include ms-screen-lg-up() {
  .gitHubTextButton {
    height: 100%;
  }

  .gitHubIconButton {
    display: none;
  }
}

$maxReactLogoHeight: 48px;
$reactLogoHeight: min($maxReactLogoHeight, $desktop-height);

.reactLogo {
  height: $reactLogoHeight;
  width: $reactLogoHeight;
  margin-left: -$reactLogoHeight / 4;
  vertical-align: middle;
}

.gitHubLink {
  height: 44px;
}

.gitHubLogo {
  @include ms-Icon;
  height: $ms-icon-size-l;
  width: $ms-icon-size-l;
}
