@import "@fluentui/react/dist/sass/References";

@mixin transition-timing {
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.packageCardFrame {
  @include ms-depth-4;

  @include transition-timing();
  transition-property: opacity, transform;

  min-width: 320px;
  max-width: 640px;
  min-height: 200px;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
  flex-basis: 500px;
}

.visibleCardFrame {
  opacity: 1.0;
}

.fadedCardFrame {
  opacity: 0.25;
  transform: rotateY(-10deg);
  padding-bottom: 30px;
}

.noDataCardFrame {
  opacity: 0.6;
}

.packageCardContent {
  @include transition-timing();
  overflow-y: fit;
}

.visibleCardContent {
  opacity: 1.0;
}

.fadedCardContent {
  opacity: 0;
}

.noDataCardContent {
  opacity: 1.0;
}

@mixin header-clearance-area {
  flex-grow: 1;
  flex-basis: 100px;
}

@include ms-screen-sm-down() {
  .packageCardContent {
    padding: 10px 5px;
  }

  .headerLeft {
    display: none;
   }

   .header {
     padding: 5px 20px;
   }

   .headerText {
    text-align: start;
  }
}

@include ms-screen-md-up() {
  .packageCardContent {
    padding: 10px;
  }

  .headerLeft {
    @include header-clearance-area();
   }

   .headerText {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.headerText {
  flex-grow: 3;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.packageName {
  @include ms-fontWeight-semibold;
}

.headerControls {
  @include header-clearance-area();
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.chartContainer {
  font-family: $ms-font-family-fallbacks;
  font-size: 10pt;
}
