@import "bootstrap";

.packageCard {
  @extend .rounded;
  @extend .shadow-sm;

  padding: 20px 20px;
  background-color: $gray-200;
  min-height: 200px;
  border: 1px solid $gray-300;
  width: 100%;
  max-width: 1000px;
}

.opacityTransition {
  transition: opacity ease-in-out 150ms;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1.0;
}

.header {
  text-align: center;
}

.title {
  margin-bottom: 0;
}

.unit {
  @extend .fs-6;
  margin-bottom: 5;
}