@import "bootstrap";

.packageCard {
  @extend .rounded;
  @extend .shadow-sm;

  background-color: $gray-200;
  min-height: 200px;
  border: 1px solid $gray-300;

  flex-grow: 1;
  flex-basis: 600px;
  min-width: 320px;
  max-width: 1000px;
}

@include media-breakpoint-up(sm) {
  .packageCard {
    padding: 15px 15px 15px 5px;
  }
}

@include media-breakpoint-down(sm) {
  .packageCard {
    padding: 10px 10px 30px 0;
  }
}

.opacityTransition {
  transition: opacity ease-in-out 150ms;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1.0;
}

.header {
  text-align: center;
}

.title {
  margin-bottom: 0;
}

.unit {
  @extend .fs-6;
  margin-bottom: 5;
}