@import "@fluentui/react/dist/sass/References";

$transition: ease-in-out 300ms;

.packageCardFrame {
  @include ms-depth-4;

  background-color: white;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 600px;

  display: flex;
  flex-direction: column;

  min-width: 320px;
  max-width: 850px;

  transition: $transition;
}

.visibleCardFrame {
  opacity: 1.0;
  transform: rotateY(0);
}

.fadedCardFrame {
  opacity: 0.25;
  transform: rotateY(-10deg);
}

.noDataCardFrame {
  opacity: 1.0;
  background-color: $ms-color-gray10;
}

.packageCardContent {
  transition: $transition;
}

.visibleCardContent {
  opacity: 1.0;
}

.fadedCardContent {
  visibility: hidden;
  opacity: 0;
}

.noDataCardContent {
  opacity: 0.8;
}

@mixin header-clearance-area {
  flex-grow: 1;
  flex-basis: 100px;
}

@include ms-screen-sm-down() {
  .packageCardContent {
    padding: 10px 5px 35px 5px;
  }

  .headerLeft {
    display: none;
   }

   .header {
     padding: 10px 20px;
   }

   .headerText {
    text-align: start;
  }
}

@include ms-screen-md-up() {
  .packageCardContent {
    padding: 15px 15px 30px 15px;
    margin-left: -10px;
  }

  .headerLeft {
    @include header-clearance-area();
   }

   .headerText {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: row;
}

.headerText {
  flex-grow: 3;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.headerControls {
  @include header-clearance-area();
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.chartContainer {
  font-family: $ms-font-family-fallbacks;
  font-size: 10pt;
}
