@import "@fluentui/react/dist/sass/References";

.chartContainer {
  :global(.recharts-legend-item-text) {
      color: black !important
    }

  :global(.recharts-cartesian-axis-tick:last-child text) {
    text-anchor: end; 
   }

  :global(.recharts-legend-wrapper) {
    bottom: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

   @include ms-screen-sm-down() {
    :global(.recharts-legend-wrapper) {
      height: 66px !important;
      align-items: center;
    }

    :global(.recharts-default-legend) {
      padding: 0 20px !important;
    }
  }

  @include ms-screen-md-up() {
    :global(.recharts-legend-wrapper) {
      height: 40px !important;
      align-items: center;
    }
  }
}
