@import "@fluentui/react/dist/sass/References";

.chartContainer {
  :global(.recharts-cartesian-axis-tick:last-child text) {
    text-anchor: end; 
   }
}

.chartFill {
  border-radius: 5px;
  @include ms-depth-4;
}

.placeholderContainer {
  padding-bottom: 45px 0 0 0;
}
