name: Update Version History

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *" # 3AM UTC (8PM PST)

jobs:
  update-history:
    name: Update Version History
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://rn-versions.github.io/

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: yarn

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn --immutable

      - name: Update Version History
        run: yarn update-history
        continue-on-error: true

      - name: Configure Git
        run: |
          git config --global user.email "92769335+rn-versions@users.noreply.github.com"
          git config --global user.name "History Update Workflow"

      - name: Commit and push
        run: |
          git add --all
          git commit -m "Update Version History"
          git push

      - name: Run build
        run: yarn build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
